/**
* Product Banner
*/
.banners-container.custom .row {
	margin-left: -10px;
	margin-right: -10px;
}
.banners-container.custom .row [class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}
.banner .custom {
	display: block;
	position: relative;
	margin-bottom: 15px;
}
.banners-container.custom .banner.custom h3 {
	font-size: 17px;
	text-align: center;
	color: #818385;
	line-height: 1.4;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 600;
}
.banner.custom a {
	position: relative;
	display: block;
}
.banner.custom span:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	border-radius: 0;
}
.banner.custom img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0;
}
.banners-container.custom .banner.custom .banner-caption {
	background-color: #a1a2a3;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}
.margin-at-small-only {
	margin-bottom: 80px !important;
}
.brand-filter-wrapper {
	max-height: 215px;
	overflow: auto;
	transform: opacity .3s;
}
.configurable-filter-list {
	padding: 0;
	margin: 0 -5px;
	list-style: none;
	font-size: 0;
}
.configurable-filter-list li {
	display: inline-block;
	margin: 0 5px 8px;
}
.configurable-filter-list li span.active {
	background-color: #65829d;
	border-color: #65829d;
	color: #fff;
}
.configurable-filter-list li span {
	display: block;
	color: #777;
	width: 30px;
	height: 30px;
	font-size: 14px;
	line-height: 28px;
	background: #f4f4f4;
	border: 1px solid #cccccc;
	border-radius: 0;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
.configurable-filter-list li span:hover {
	border-color: #65829d;
	text-decoration: none;
}
.configurable-filter-list.filter-list-color li span {
	padding: 1px;
}
.configurable-filter-list.filter-list-color li span span {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 0;
}
.pesanan-img {
	display: block;
	width: 100px;
	height: auto;
}
.atur-wishlist {
	margin-left: 20px;
	font-size: 12px;
	text-transform: uppercase;
}